{% extends 'shopapp/base.html' %}

{% block title %}
    Products list title
{% endblock %}

{% block body %}
    <h1>Список продуктов:</h1>
    <div>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'shopapp:product_details' pk=product.pk %}">{{ product.name }}</a>
                (${{ product.price }})
            </li>
            <sub>-> {{ product.description }}</sub>
        {% empty %}
            Товары закончились!
        {% endfor %}
    </ul>
    </div>

    <div>
        <a href="{% url 'shopapp:create_product' %}">
            Нажмите, чтобы создать новый продукт
        </a>
    </div>

{% endblock %}
