{% extends 'shopapp/base.html' %}

{% block title %}
  Order №{{ object.pk }} details
{% endblock %}

{% block body %}
  <h1>Order №{{ object.pk }} details</h1>
  <div>
    <div>Delivery address: <em>{{ object.delivery_address }}</em></div>
    <div>
      Products:
      <ol>
          {% for product in object.products.all %}
              <li>
                  <a href="{% url 'shopapp:product_details' pk=product.pk %}">
                      {{ product.name }}
                  </a>, ${{ product.price }}</li>
          {% empty %}
              Заказ оказался пуст
          {% endfor %}
      </ol>
    </div>
    <div>User: {{ object.user }}</div>
    <div>Promocode: <code>{{ object.promocode }}</code></div>
    <div>Creation time: <em>{{ object.creation_time }}</em></div>
  </div>

  <br>
  <div>
    <a href="{% url 'shopapp:order_update' pk=object.pk %}">Update this order info</a>
  </div>
  <div>
    <a href="{% url 'shopapp:order_delete' pk=object.pk %}">Delete this order</a>
  </div>
  <div>
    <a href="{% url 'shopapp:order_list' %}">Back to the orders list</a>
  </div>

{% endblock %}
