{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
  {% blocktranslate with product_pk=object.pk %}
    Product №{{ product_pk }} details
  {% endblocktranslate %}
{% endblock %}

{% block body %}
  {% blocktranslate with name=object.name pk=object.pk %}
    <h1>Product {{ name }} (№{{ pk }}) details</h1>
  {% endblocktranslate %}
  <div>
    <div>{% translate 'Description' %}: <em>{{ object.description }}</em></div>
    <div>{% translate 'Price' %}: {{ object.price }}</div>
    <div>{% translate 'Discount' %}: {{ object.discount }}%</div>
    <div>{% translate 'Creation time' %}: <em>{{ object.creation_time }}</em></div>
    <div>{% translate 'Archived' %}: {{ object.archived }}</div>
  </div>

  <br>
  <div>
    <a href="{% url 'shopapp:product_update' pk=object.pk %}">
      {% translate 'Update this product info' %}
    </a>
  </div>
  <div>
    <a href="{% url 'shopapp:product_delete' pk=object.pk %}">
      {% translate 'Archive this product' %}
    </a>
  </div>
  <div>
    <a href="{% url 'shopapp:product_list' %}">
      {% translate 'See full products list' %}
    </a>
  </div>

{% endblock %}
