{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
  {% blocktranslate with product_pk=object.pk %}
    Product №{{ product_pk }} details
  {% endblocktranslate %}
{% endblock %}

{% block body %}
  {% blocktranslate with name=object.name pk=object.pk %}
    <h1>Product {{ name }} (№{{ pk }}) details</h1>
  {% endblocktranslate %}
  <div>
    <div>{% translate 'Description' %}: <em>{{ object.description }}</em></div>
    <div>{% translate 'Price' %}: {{ object.price }}</div>
    <div>{% translate 'Discount' %}: {{ object.discount }}%</div>
    <div>{% translate 'Creation time' %}: <em>{{ object.creation_time }}</em></div>
    <div>{% translate 'Archived' %}: {{ object.archived }}</div>
  </div>

  <h3>{% translate 'Product images' %}:</h3>
  <div>

    {% blocktranslate count images_amount=object.images.all|length %}
      {{ images_amount }} image is uploaded
    {% plural %}
      {{ images_amount }} images are uploaded
    {% endblocktranslate %}

    {% for img in object.images.all %}
      <div><img src="{{ img.image.url }}" alt="img.image.name" style="margin-top:50px"></div>
      {% if img.description %}
        <sub>-> {{ img.description }}</sub>
      {% endif %}
    {% endfor %}
  </div>

  <br>
  <br>
  <div>
    <a href="{% url 'shopapp:product_update' pk=object.pk %}">
      {% translate 'Update this product info' %}
    </a>
  </div>
  <div>
    <a href="{% url 'shopapp:product_delete' pk=object.pk %}">
      {% translate 'Archive this product' %}
    </a>
  </div>
  <div>
    <a href="{% url 'shopapp:product_list' %}">
      {% translate 'See full products list' %}
    </a>
  </div>

{% endblock %}
