{% extends 'fileupload/base.html' %}
{% block title %}
    File Upload
{% endblock %}

{% block body %}
    <h1>Upload your file here:</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <input type="file" name="uploaded_file">
        </p>
        <button type="submit">Upload</button>
    </form>

    {% if request.POST %}
        <br>
        <div>
            <h3>Был загружен файл:</h3>
            <p>{% firstof request.FILES.uploaded_file.name '-None-' %}</p>
        </div>
    {% endif %}

{% endblock %}
